* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

.container {
  width: 800px;
  margin: 0px auto;
  text-align: center;
}

.header {
  width: 100%;
  display: inline-block;
  text-align: center;
  padding: 10px;
}

.header-logo {
  width: 20%;
  display: inline-block;
  padding: 0px 25px
}

.header-menu {
  width: 50%;
  display: inline-block;
}

ul {
  list-style: none;
}

.header-list li {
  display: inline-block;
  padding: 5px;
}

.header-list li a {
  display: block;
}

a {
  text-decoration: none;
  color: #000;
}

.header-icon {
  width: 28%;
  display: inline-block;
}

.header-select {
  border: none;
}

.sub-menu {
  display: none;
  position: absolute;
  width: 100%;
  top: 20px;
  left: 0;
}

/*.has-submenu:hover .sub-menu {
  display: block;
}*/

.header-list {
  font-size: 11px;
  font-family: tahoma;
}

.header-list li.active a,
.header-list li a:hover {
  border-bottom: 1px solid red;
  color: red;
}

.search-logo {}

.profile-logo {
  padding-bottom: 10px;
}

.box-logo {}

img {
  max-width: 100%;
  height: auto;
}

.main-logo li {
  display: inline-block;
}

.dividerone {
  width: 32%;
  float: left;
  padding-right: 1px;
}

.dividertwo {
  width: 67.4%;
  float: right;
}

.has-submenu {
  position: relative;
}

.dividerone li:first-child {
  width: 100%;
}

.dividerone li {
  width: 49%;
  display: inline-block;
}

.category {
  padding: 40px 0px;
}

.container1 {
  width: 800px;
  margin: 0px auto;
  height: 383px;
  padding-top: 15px;
}

.features-menu li {
  display: inline-block;
  border: 1px solid #d0d5db;
  padding: 3px 25px;
  margin-left: -2px;
  font-size: 14px;
}

.lorem {
  padding: 20px 220px;
  text-align: center;
}

.features {
  text-align: center;
  position: relative;
  border-bottom: 2px solid red;
  padding-bottom: 10px;
  display: inline-block;
  width: auto;
}

.features:before {
  content: "--";
  position: absolute;
  top: 15px;
  color: #000;
  font-size: 21px;
  left: 57px;
  background: #fff;
  width: 20px;
  padding: 0px 9px;
}


/*.features:after{
	content: "-";
    position: absolute;
    top: 9px;
    color: #000;
    font-size: 20px;
    height: 5px;
    left: 40px;
    background: #fff;
    width: 20px;
}*/

.features-list {
  text-align: center;
  padding-bottom: 30px;
}

.features-product {
  width: 100%;
}

.product-info a img {
  height: 223px;
}

.product-info li {
  display: inline-block;
  padding-right: 32px;
}

.mid-slider {
  padding-top: 45px;
}

.new-arrivals {
  text-align: center;
}

.new-arrived {
  padding: 15px 0px;
}

.new-words {
  padding-bottom: 15px;
}


/*.list-item li{
	width: 15%;
}*/


/*.list-item li:first-child{
	width: 30%;
}

.list-item li:last-child{
	width: 69%;
	float: right;
	margin-top: -163px;
}
.list-item li:nth-of-type(2), .list-item li:nth-of-type(3){
	float: left;
}
*/

.container1 {
  position: relative;
  padding-top: 40px;
}

.list-item {
  width: 30%;
}

.list-item li {
  float: left;
  width: 50%;
  padding: 5px;
}

.list-item li:first-child {
  width: 100%;
}

.list-item li:last-child {
  width: 70%;
  position: absolute;
  right: 0;
  height: 325px;
}

.img-responsive-one {
  max-height: 100%;
  width: 100%;
}

.sub-menu li {
  display: block;
  left: 0px;
  width: 70px;
}

.new-product-one,
.new-product-two,
.new-product-three {
  width: 33%;
  display: inline-block;
  vertical-align: top;
}

.product-info li:last-child {
  padding-right: 0px;
}

.content {
  border: 1px solid #e5e5e5;
  width: 100%;
  height: 286px;
  text-align: center;
}

.new-product-one {
  position: relative;
}

.upper-style {
  position: absolute;
  top: 19%;
  text-align: center;
  width: 100%;
  background: rgba(0, 0, 0, 0.39);
  display: none;
}

.upper-style li {
  display: inline-block;
  padding: 12px;
  color: white;
}

.upper-style li a {
  color: yellow;
}

.prod-one:hover .upper-style {
  display: block;
}

.content p {
  padding-top: 40%;
  line-height: 150%;
}

.content.active-content,
.content:hover {
  background: #fe5722;
}

.jonathan {
  padding-top: 40px;
}

.blog-spot {
  text-align: center;
}

.latest-blog {
  padding: 25px 0px 20px 0px;
}

.latest-blog-details {
  width: 100%;
  padding-top: 20px;
  font-size: 10px;
  margin-bottom: 45px;
}

.latest-blog-details li {
  width: 28.3%;
  display: inline-block;
  margin-left: -4px;
  height: 340px;
  padding: 16px;
  background: #f5f5f5 url(img/blog1.jpg);
  background-repeat: no-repeat;
  background-origin: content-box;
  background-size: 193px;
  line-height: 10px;
  text-align: center;
  margin-right: 35px;
  vertical-align: top;
}

.latest-blog-details li:hover {
  box-shadow: 0px 4px 15px 2px;
}

.latest-blog-details li h6 {
  padding-top: 250px;
  font-size: 11px;
}

.subscribe-blog {
  background-image: url(img/bg2.jpg);
  max-height: 100%;
  height: 172px;
  text-align: center;
  color: white;
  font-family: Calibri Light;
  letter-spacing: 0.5px;
}

.subscribe-blog h3 {
  padding: 35px 0px 10px 0px;
  font-size: 20px;
}

.subscribe-blog p {
  padding-bottom: 10px;
  font-size: 14px;
  color: #b7b4b4;
}

.search-textbox {
  border: 1px solid #dbdada;
  background-color: rgba(247, 245, 245, 0);
  height: 33px;
  width: 365px;
  border-radius: 4px;
  text-indent: 8px;
}

.search-newsletter a {
  background: #fe5722;
  color: #fdddd5;
  padding: 11px 20px;
  border-radius: 2px;
  font-size: 11px;
  margin-left: 3px;
}

.product-service {
  border: 1px solid #e5e5e5;
  margin: 70px 0px;
  width: 100%;
  font-family: Calibri Light;
}

.product-service li {
  width: 32%;
  display: inline-block;
  padding: 22px 2px 30px 24px;
  text-align: center;
}

.product-service li p::first-letter {
  text-transform: capitalize;
}

.product-service li h5 {
  text-transform: capitalize;
}

.product-service li img {
  width: 35px;
}

.product-service li p {
  font-size: 12px;
}

.contact-details {
  background: #f5f5f5;
  width: 100%;
}

.contact-details div {
  display: inline-block;
  vertical-align: middle;
}

.contact-info {
  width: 29%;
}

.footer {
  width: 20%;
}

.page-ending {
  width: 30%;
}

.contact-details:not(h5) {
  font-size: 11px;
}

.footer li {
  padding-top: 8px;
}

.footer li:hover {
  color: red;
}
